[core]
    editor = vim
	quotepath = false

[diff]
    tool = vimdiff

[merge]
    tool = vimdiff

[difftool]
    prompt = false

[mergetool]
    prompt = false

[include]
    path = ~/.gitconfig.local
